html,body {
    background-color: #222;
    width: 100%;
    height: 100%;
   /* overflow-x:hidden;
    overflow-y:hidden*/
}
.content {
  width: 100%;
  height: 100%;
}
.stage{
  position: relative;
  width: 100%;
  height: 680px;
}
.img-sec {
    position: relative;
    width:100%;
    height:100%;
    overflow: hidden;
    background-color: #ddd;
    margin-top :30px;
    margin-bottom: 60px;
}

.img-figure{
    position: absolute;
    width:328px;
    height: 380px;
    margin: 0;
    padding: 40px;
    box-sizing: border-box;
    background-color: bisque;
    transition:left .6s ease-in-out, top 0.8s ease-in-out;
}
/*图片翻转样式*/
.flipper {
    transform-style: preserve-3d;
    position: relative;
    cursor:pointer
}

.tranform {
    transform: rotateY(180deg);
}
.tranform-negative{
    transform: rotateY(-180deg);
}

.back {

    background-color :tomato;
}
.front {
    z-index: 2;
}
.front, .back {
    backface-visibility: hidden;
    transition: 0.8s;
    position: absolute;
    top: 0px;
    left: 0px;
}

/*图片翻转样式*/
.img-title{
    margin: 4px 0 0 0;
    color: #a7a0a2;
    font-size: 16px;
    text-align: center;
}
.img-style,.back{
    width :250px;
    height: 300px;
}
.img-back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 60px 20px;
    text-align: center;
}

.controller-nav{
    position: absolute;
    left: 0;
    bottom: 30px;
    z-index: 101;
    text-align: center;
    padding-left: 21%;
}
.controller-unit{
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 30px;
    cursor: pointer;
}
.turn-img{
    width: 30px;
    height: 30px;
    border-radius:50%;
    transition:1s;
    -webkit-transition:1s;
    -moz-transition:1s;
    cursor: pointer;
}
.controller-unit :hover{
    -webkit-transform:rotate(360deg) scale(1.5);
    -moz-transform:rotate(360deg) scale(1.5);
    -ms-transform:rotate(360deg) scale(1.5);
    -o-transform:rotate(360deg) scale(1.5);
}



